// out: ../public/css/styl.css, compress: true
@bgColor: black;
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
    //overflow: hidden;
}
body {
    display: flex;
    flex-flow: column;
	background-color: @bgColor;
    color: lightblue;
    
    .top {
        flex: 1;
        display: flex;
        h1 {
           flex: 3;

        }
        .info {
            flex: 1;
            display: flex;
            img {
                flex: 0.5; 
            align-self: flex-start;    
            }
            * {
                flex: 1;
            }
        }

    }
    .content {
        display: flex;
        flex: 3;
   
        .chat.page {
             overflow-y: auto;
            flex: 2;
            .messages {
                
              list-style: none;
              word-wrap: break-word;
                
               
               .log {
                    * { 
                        display: inline-flex;
                    }
                    .time {
                        color: red;
                    }
                    .username {
                        padding-left: 0.5em;
                        color: lightblue;
                    }
                    .message {
                        padding-left: 1em;
                        color: orange;
                    }
                }
            }
        }
        .rooms.page {
             flex: 1;
        } 
        .all.rooms.page {
             flex: 1;
        } 
    }

    .bottom {
        display: flex;
        flex: 0.5;   

        input {       
            display: flex;
            width: 100%;
        }
    }
}